<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <!-- Main content -->
                <div class="invoice p-3 mb-3">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <b>Fatura Nº0001</b> <br>
                                <small class="float">Data: 6/2/2022</small>
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            <address> <br>
                                <strong>Eletronika</strong><br>
                                Rua Jose Soares<br>
                                Leiria, 2080-620<br>
                                Telefone: 243255789<br>
                                Email: eletronika@gmail.com
                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            <address><br>
                                <strong>Cliente:</strong><br>
                                Goncalo <br>
                                Rua 20 de  Abril<br>
                                Almeirim, 2080-640<br>
                                NIF: 243556314<br>
                            </address>
                        </div>

                    </div>
                    <!-- /.row -->

                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>REF</th>
                                    <th>Descrição</th>
                                    <th>QTD</th>
                                    <th>Preço Unidade</th>
                                    <th>IVA</th>
                                    <th>Taxa</th>
                                    <th>SubTotal</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="row flex-row-reverse">

                        <!-- /.col -->
                        <div class="col-2">

                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>Subtotal:</th>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <th>IVA:</th>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <th>Total:</th>
                                        <td>0</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <!-- this row will not appear when printing -->
                    <div class="row no-print">
                        <div class="col-12">
                            Fatura Processada por Funcionario
                            <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                                <i class="fas fa-download"></i> Generate PDF
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.invoice -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>